@tailwind base;
@tailwind components;
@tailwind utilities;

html, body{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

/* This will hide the default scrollbar */
::-webkit-scrollbar {
    width: 10px;
}

/* This will style the track of the scrollbar (the background) */
::-webkit-scrollbar-track {
    background: white;
}

/* This will style the handle of the scrollbar (the scrolling part) */
::-webkit-scrollbar-thumb {
    background: #555;
    border-radius: 10px;
}

/* This will change the style of the handle when you hover over it */
::-webkit-scrollbar-thumb:hover {
    background: black;
}

.cus-div{
    width: 100%;
    position: relative;
}

#skew1{
    z-index: 10;
    background-color: #E5E7EB;
}

#skew2{
    z-index: 9;
    background-color: #FFFFFF;
}

#skew3{
    z-index: 8;
    background-color: #E5E7EB;
}

#skew4{
    z-index: 7;
    background-color: lightyellow;
}

.cus-div::after{
    position: absolute;
    width: 100%;
    height: 100%;
    background: inherit;
    z-index: -1;
    bottom: 0;
    content: '';
}

#skew1::after, #skew3::after, #skew4::after{
    transform-origin: left bottom;
    transform: skewY(4deg);
}

#skew2::after{
    transform-origin: right bottom;
    transform: skewY(-4deg);
}